.navbarStyle :global {
  .logo {
    width: 5.8rem;
    overflow: hidden;
  }
  .menuItems {
    a {
      padding: 5px 10px;
      margin-left: 10px;
      letter-spacing: 0.7px;
      color: darken($color: #fafafa, $amount: 10);
      transition: all 0.2s;
      font-weight: 400;
      font-size: 1.1rem;
      &:hover {
        color: #fafafa;
        transition: all 0.2s;
      }
    }
  }
  .toggeBtn {
    color: white;
    font-size: 2.3rem;
    border: 0;
    padding: 0.3rem;
    outline: none;
    &:focus {
      box-shadow: none;
    }
  }
  @media screen and (max-width: 767px) {
    .menuItems {
      a {
        padding: 3px 0px;
        margin-left: 0px;
        margin-top: 3px;
        letter-spacing: 0.5px;
        font-size: 1.05rem;
      }
    }
  }
}
