.heroSection :global {
  .heroContainer {
    padding-top: 4rem;
    padding-bottom: 7rem;
  }
  .heroDetails {
    h5,
    h2,
    p {
      margin: 0 0 1.5rem 0;
      letter-spacing: 0.5px;
      color: white;
    }
    h5 {
      font-weight: 500;
      font-size: 1.5rem;
    }
    h2 {
      font-weight: bold;
      font-size: 4rem;
      line-height: 3.8rem;
      letter-spacing: 0;
    }
    button {
      background-color: #f6a546;
      color: white;
      border-radius: 8px;
      border: 0;
      font-size: 1rem;
      font-weight: 600;
      padding: 13px 18px;
      transition: all 0.1s;
      letter-spacing: 0.8px;
      font-family: "Mulish", sans-serif;
      margin-bottom: 1.5rem;
      &:hover {
        transition: all 0.3s;
        background-color: darken($color: #f6a546, $amount: 5);
      }
    }
  }
  .heroImage {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      border-radius: 8px;
      border: 0;
    }
    .circle1 {
      position: absolute !important;
      top: 1rem;
      left: calc(100vw - 106vw);
      transform: scale(0.8) rotate(-110deg);
    }
    .circle2 {
      position: absolute !important;
      bottom: -6.2rem;
      right: -7.5vw;
      transform: scale(0.8);
    }
    .rectangle {
      position: absolute !important;
      bottom: 3vh;
      left: -2.5vw;
      transform: scale(0.8);
    }
    .polygon {
      position: absolute !important;
      top: 1rem;
      right: -2vw;
      transform: scale(0.8);
    }
  }
  @media screen and (max-width: 767px) {
    .heroContainer {
      padding-top: 1rem;
      padding-bottom: 2rem;
    }
    .heroDetails {
      h5,
      h2,
      p {
        margin: 0 0 1rem 0;
        letter-spacing: 0.3px;
      }
      h5 {
        font-size: 1.2rem;
      }
      h2 {
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: 0;
      }
    }
    .heroImage {
      .circle1 {
        left: -12vw;
        transform: scale(0.7) rotate(-110deg);
      }
      .circle2 {
        bottom: -7rem;
        right: -15vw;
        transform: scale(0.7);
      }
      .rectangle {
        left: -5vw;
        transform: scale(0.7);
      }
      .polygon {
        right: -5vw;
        transform: scale(0.7);
      }
    }
  }
  @media screen and (max-width: 574px) {
    .heroImage {
      .circle1 {
        left: -20vw;
      }
      .circle2 {
        right: -20vw;
      }
      .rectangle {
        left: -12vw;
      }
      .polygon {
        right: -8vw;
      }
    }
  }
}
